<div class="container">
  <div class="row">
    <div class="col-sm-10 px-sm-0 offset-sm-1">
      <h2><%= @customer.first_name + @customer.last_name %>さんの会員情報編集</h2>
    </div>
  </div>
  <%= form_with model: @customer, url: admin_customer_path(@customer.id), local: :true, method: :put do |f| %>
    <div class="row">
        <label class="col-lg-3">会員ID</label>
        <div class="col-lg-3">
          <%= @customer.id %>
        </div>
    </div>

    <div class="row">
      <label class="col-lg-3">氏名</label>
      <div class="col-lg-3">
        <%= f.text_field :first_name,autoforcus: true %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :last_name,autoforcus: true %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">フリガナ</label>
      <div class="col-lg-3">
        <%= f.text_field :first_name_kana %>
      </div>
      <div class="col-lg-3">
        <%= f.text_field :last_name_kana%>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">郵便番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :zip_code %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">住所</label>
      <div class="col-lg-3">
        <%= f.text_field :address %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">電話番号（ハイフンなし）</label>
      <div class="col-lg-3">
        <%= f.text_field :telephone_number %>
      </div>
    </div><br>

    <div class="row">
      <label class="col-lg-3">メールアドレス</label>
      <div class="col-lg-3">
        <%= f.text_field :email %>
      </div>
    </div><br>
    <div class="form-group">
      <%= f.label :"会員ステータス" %>
      <%= f.radio_button :is_deleted, :false %>
      <%= f.label :is_deleted, "有効" %>
      <%= f.radio_button :is_deleted, :true %>
      <%= f.label :is_deleted, "退会" %>
    </div>
    <div class="row">
      <%= f.submit "変更内容を保存", class:"btn btn-success" %>
    </div>
  <% end %>
</div>