<div class="container p-3">

  <div class="row">
    <h4 style="background-color: #dcdcdc;">注文履歴詳細</h4>
  </div>

  <div class="row mt-1">
    <div class="col-md-12">
      <table class="text-left" style="font-size: 15pt" >

        <tr>
          <th><strong>購入者</strong></th>
          <th>
            <%= link_to admin_customer_path(@customer.id) do %>
              <%= @order.customer.last_name + @order.customer.first_name %>
            <% end %>
          </th>
        </tr>

        <tr>
          <th><strong>注文日</strong></th>
          <th><%= @order.customer.created_at.strftime('%Y/%m/%d') %></th>
        </tr>

        <tr>
          <th><strong>配送先</strong></th>
          <th>〒<%= @order.customer.zip_code + " " + @order.customer.address + " " + @order.customer.last_name + " " + @order.customer.first_name %></th>
        </tr>

        <tr>
          <th><strong>支払方法</strong></th>
          <th><%= @order.payment_method_i18n %></th>
        </tr>

        <tr>

          <th><strong>注文ステータス</strong></th>
          <th>
            <%= form_with model: @order, url: admin_order_path, method: :get, local: true do |f| %>
              <%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
              <%= f.submit "更新" , class: "btn btn-success" %>
            <% end %>
          </th>
        </tr>
      </table>
    </div>
  </div>

  <div class ="row mt-2">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr bgcolor="#dcdcdc">
            <th style="width: 25%">商品名</th>
            <th style="width: 15%">単価(税込)</th>
            <th style="width: 15%">数量</th>
            <th style="width: 15%">小計</th>
            <th style="width: 30%">製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <th><%= order_detail.item.name %></th>
            <th><%= order_detail.item.add_tax_price.to_s(:delimited) %></th>
            <th><%= order_detail.amount %></th>
            <th><%= order_detail.item.add_tax_price.to_s(:delimited) * order_detail.amount %></th>
            <th>
              <%= form_with model: @order_detail, url: admin_order_path, method: :get, local: true do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit "更新" , class: "btn btn-success" %>
              <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <table calss="table" style="font-size: 15pt">
        <tr>
          <th><strong>商品合計</strong></th>
          <th><%= @order.total_payment - @order.postage %></th>
        </tr>

        <tr>
          <th><strong>送料</strong></th>
          <th><%= @order.postage %></th>
        </tr>

        <tr>
          <th><strong>請求金額合計</strong></th>
          <th><strong><%= @order.total_payment %></strong></th>
        </tr>
      </table>
    </div>
  </div>
</div>



