<div class="container mt-5 mt-5">
  <div class="row">
    <div class="col-6">
    <div class="col-4 text-center ml-3">
      <h4 style="background-color: #dcdcdc;">配送先編集</h4>
    </div>
    </div>
  </div>
  
  <div class="row mb-5">
   
      <%= form_with model:@address, local:true do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th><%= f.label :"郵便番号（ハイフンなし）" %></th>
            <th><%= f.text_field :address %></th>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :"住所" %></th>
            <th><%= f.text_field :zip_code, :size=>"50"%></th>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <th><%= f.label :"宛名" %></th>
            <th><%= f.text_field :name %></th>
            <th><%= f.submit "変更内容を保存", class: "btn btn-success" %></th>
          </div>
        </tr>
      </table>
      <% end %>
    
  </div>
</div>